:root {
    --primary-color: #fdf5df;
    --secondary-color: #53bec4;
    --tertiary-color: #0b0c10;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

/* Typography */
h1 {
    font-size: 40px;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 35px;
    color: var(--tertiary-color);
}

header h1, .intro-title-two {
    font-family: 'Luxurious Script', cursive;
}

.about-me-title, .my-work-title {
    font-size: 5rem;
    text-align: center;
}

/* Header Nav Bar Styles */
header {
    padding: 20px 30px;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: inherit;   
} 

header h1 {
    color: var(--tertiary-color);
    font-size: 5rem;
    font-family: 'Luxurious Script', cursive;
    padding-left: 85px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

header nav ul li a {
    margin: 10px 15px;
    border-radius: 4px;

} 

header nav ul li a:hover {
    box-shadow: none;
    background: var(--tertiary-color);
    color: var(--primary-color);
}

nav ul li a {
    font-size: 25px;
}

/* Intro Section */
.intro {
    background-color: var(--primary-color);
    text-align: center;
}

.intro-img {
    border: 5px solid transparent;
    padding: 25px 20px 20px 20px;
}

.img {
    border-radius: 50%;
}

.section-intro-title {
    padding: 0px 350px 15px 350px;
}

.intro-title-two {
    padding-bottom: 20px;
}

/* About Me */
.about-me {
    padding: 30px 30px 100px 100px;
    border: 5px solid black;
    background-color: var(--secondary-color);
}
.about-me-title {
    color: var(--tertiary-color);
}

.aboout-me-body, p {
    padding-left: 50px;
    margin-top: 50px;
    border: 5px solid black;
    font-size: 20px;
}

/* My work */
.my-work {
    background-color: var(--primary-color);
    padding-bottom: 50px;
}

.my-work-title {
    padding-top: 50px;
}

.my-work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}

.my-work-1, .my-work-2, .my-work-3,
.my-work-4, .my-work-5, .my-work-6 {
    padding: 28px;
    justify-content: space-between;
    position: relative;
    transform: scale(1);
    transition: 0.3s ease-;
}

.my-work-1:hover, .my-work-2:hover, .my-work-3:hover, 
.my-work-4:hover, .my-work-5:hover, .my-work-6:hover{
    transform: scale(1.3);
}
.my-work1-text, .my-work2-text, .my-work3-text, 
.my-work4-text, .my-work5-text, .my-work6-text {
    position: absolute;
    font-size: 30px;
    bottom: 30px;
    left: 3rem;
    background-color: var(--primary-color);
}



