:root {
    --primary-color: #fdf5df;
    --secondary-color: #53bec4;
    --tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:var(--secondary-color);
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

/* Typography */
h1 {
    font-size: 40px;
}
h2 {
    font-size: 25px;
}

header h1, .intro-title-two {
    font-family: 'Luxurious Script', cursive;
}

/* Header Nav Bar Styles */
header {
    padding: 20px 30px;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: inherit;   
} 

header h1 {
    font-size: 85px;
    font-family: 'Luxurious Script', cursive;
    padding-left: 85px;
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

header nav ul li a {
    margin: 10px 15px;
} 

nav ul li a {
    font-size: 25px;
}

/* Intro Section */
.intro {
    background-color: var(--primary-color);
    text-align: center;
}

.intro-img {
    border: 5px solid transparent;
    padding: 25px 20px 20px 20px;
}

.img {
    border-radius: 50%;
}

.section-intro-title {
    padding: 0px 350px 15px 350px;
}

.intro-title-two {
    padding-bottom: 20px;
}

/* About Me */